*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    background-image: url('../images/norway.jpg');
    background-size: cover;
    background-attachment: fixed;
    font-size: .9rem;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Work Sans', Georgia, 'Times New Roman', Times, serif;
}
.wrapper{
    max-width: 1160px;
    margin: 0 auto;
    background-color: #fffefe;
}
.loading-indicator{
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    margin: 10px;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}
@keyframes spin{
    0%{ transform: rotate(0deg);}
    100%{ transform: rotate(360deg);}
}
header{
    background-color: #60B1F8;
    color: #fffefe;
    padding: 10px 15px;
    min-height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-title{
    margin: 0;
    padding: 0 10px;
    font-size: 1.4rem;
    font-style: italic;
    font-weight: 400;
}
h1{
    text-align: center;
    margin-top: 30px;
}
h2{
    font-style: italic;
    font-weight: 400;
    text-align: center;
}
h3{
    text-align: left;
    font-weight: 600;
    margin-bottom: 5px;
}
.latest-post h3{
    font-weight: 600;
    margin-bottom: 10px;
}
.icon img{
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.menu-btn{
    font-size: 1.5rem;
    display: block;
    position: relative;
    right: -5px;
}
.menu-btn:hover{
    cursor: pointer;
}
.menu-btn.visible ~ nav ul{
    display: block;
    background-color: #60B1F8;
    max-height: 250px;
    padding: 15px 0;
    transition: all 0.5s;
  }
.nav-menu{
    float: right;
}
.nav-menu ul{
    position: absolute;
    right: 25px;
    list-style-type: none;
    display: none;
    z-index: 10;
}
.nav-menu li{
    padding: 10px 15px;
    padding-right: 10px;
    justify-content: end;
  
}
.nav-menu a{
    color: #fffefe;
    text-decoration: none;
    font-size: 1.1rem;
}
.nav-menu a:hover{
    text-decoration: underline;
}
a.active{
    background-color: #fffefe;
    color: #60B1F8;
    padding: 5px;
    border-radius: 3px;
}
.main{
    min-height: 80vh;
    padding: 15px;
    margin-bottom: 20px;
}
.main h2{
    text-align: center;
    padding: 15px 0;
}
.options{
    position: relative;
    left: 0;
    padding: 10px 10px 10px 0;
}
.options select{
    min-width: 100px;
}
.sidebar{
    max-width: 25%;
    float: left;
    background-color: #f3f3f3;
    min-height: 70vh;
    padding: 7px;
    display: none;
    margin-right: 5px;
    margin-top: 10px;
}
.blog .sidebar{
    max-width: 20%;
    margin-left: 10%;
    padding: 20px;
    margin-top: 10px;
}
.sidebar ul{
    list-style-type: none;
    margin-bottom: 20px;
}
.sidebar li{
    position: relative;
    left: -40px;
    padding: 10px 0;
}
.sidebar a{
    text-decoration: none;
}
.sidebar a:hover{
    text-decoration: underline;
}
.sign-up{
    display: flex;
    flex-direction: column;
}
.sign-up h6{
    margin-bottom: 10px;
}
.sign-up input[type="text"]{
    margin-bottom: 10px;
}
.sign-up-btn{
    margin-top: 10px;
    padding: 5px 10px;
    color: #fffefe;
    background-color: #168412;
    border-radius: 5px;
    border: none;
}
.sign-up-btn:hover{
    cursor: pointer;
    color: #168412;
    background-color: #fffefe;
    border: 1px solid #333;
}
.latest{
    display: flex;
    position: relative;
}
.latest-posts{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
    gap: 15px;
}
.latest-post{
    flex: 1 100%;
    padding: 10px;
    padding-bottom: 40px;
    background-color: #fff;
    border-radius: 5px;
    max-width: 80%;
}
.latest-post p, .latest-post h3{
    word-wrap: break-word;
}
.latest-post p{
    display: none;
}
.latest-posts img{
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}
.blog-posts, .blog-post{
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 20px;
    word-wrap:break-word;
}
.circle-icon{
    background-color: #60B1F8;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
}
.left{
    position: relative;
    /* top: 50%;
    transform: translateY(-50%); */
    left: 10px;
}
.right{
    position: relative;
    /* top: 50%;
    transform: translateY(-50%); */
    right: 10px;
}
.fa-angle-left, .fa-angle-right{
    position: relative;
    top: 5px;
}
.fa-angle-left{
    left: 13px;
}
.fa-angle-right{
    right: -16px;
}
.fa-angle-left, .fa-angle-right{
    color: #fffefe;
    font-size: 2em;
}
.left:hover, .right:hover{
    opacity: .7;
}
.blog-posts{
    flex-wrap: wrap;
}
.blog-posts h3{
    margin: 0 10px;
}
.blog-post{
    flex-direction: column;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #333;
    position: relative;
    max-width: 100%;
}
.blog-post img{
    width: 100%;
    padding: 0 10px;
}
.blog-post p, .blog-post h3{
    margin: 0 5px;
}
.cta-small {
    text-decoration: none;
    padding: 5px 10px 7px 10px;
    color: #fffefe;
    background-color: #168412;
    border-radius: 5px;
    border: 1px solid #168412;
}
.cta-small:hover {
    background-color: #fffefe;
    color: #168412;
    border: 1px solid #333;
}
.blog-post .cta-small{
    position: relative;
    bottom: 15px;
    float: right;
}
.more-posts a{
    text-decoration: none;
    font-weight: 600;
    letter-spacing: .1rem;
    color: #168412;
    border-radius: 5px;
    max-width: 150px;
    margin-bottom: 10px;
}
.more-posts a:hover{
    color: #168412;
    text-decoration: underline;
}
.fa-angle-down{
    font-size: 1.2rem;
}
.blog-post-detail{
    padding: 10px;
    max-width: 660px;
    margin: 0 auto;
}
.blog-post-detail p{
    margin: 0 auto 15px auto;
}
.blog-post-detail h3{
    text-align: center;
}
.blog-post-detail img{
    max-width: 100%;
    padding: 10px 0;
}
#imgLarge {
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
    width: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
#imgLarge:hover{
    opacity: .7;
}
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgb(0,0,0, 0.9);
}
.modal-content{
    margin: auto;
}
.modal-content img{
    width: 100%;
}
#contactForm, #commentForm{
    width: 300px;
    background-color: #f3f3f3;
    padding: 10px 25px;
    margin: 0 auto;
}
.phone,.email{
    font-weight: bold;
}
.comment-form h3{
    text-align: center;
}
.comment-form{
    padding: 20px 0;
}
.form-error{
    color: tomato;
    display: none;
}
form div{
    margin-bottom: 10px;
}
#fullName, #email, #subject, #message, #comment{
    display: flex;
    width: 100%;
}
#message, #comment{
    min-height: 60px;
}
#submit{
    padding: 5px 10px;
    font-size: 1rem;
    background-color: #168412;
    color: #fffefe;
    border: 1px solid #168412;
    border-radius: 5px;
}
#submit:hover{
    background-color: #fffefe;
    color: #168412;
    border: 1px solid #333;
}
.blog-comments{
     text-align: left;
     margin-top: 20px;
}
.blog-comments h3{
    text-align: center;
    display: none;
   
}
.posted-comment{
    padding: 10px;
    background-color: #333;
    color: #fffefe;
    max-width: 300px;
    margin: auto;
    margin-bottom: 10px;
}
.about-content{
    line-height: 1.5;
    margin-bottom: 40px;
}
.about .main {
    margin: 0 auto;
    max-width: 80%;
}
.about-list{
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.about h1, .contact h1{
    text-align: center;
    margin-bottom: 10px;
}
.about-item{
    text-align: left;
    margin: 0 auto;
    padding: 10px 0; 
}
.about-item p{
    line-height: 1.3;
}
.about-item h3{
    text-align: center;
    margin-bottom: 8px;
}
.about-social{
    display: inline-flex;
    list-style-type: none;
    margin: 20px 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.about-item li{
    margin-right: 15px;
}
.about-item img{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.about-social ul {
    display: inline-flex;
    padding: 0;
}
.about-social li{
    list-style-type: none;
    padding: 0 10px 0 0;
}
.contact-details{
    text-align: center;
}
.contact-details p{
    padding: 5px 0;
}
hr{
    margin: 10px 0;
}
.contact .main-content{
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    justify-content: center;
    align-items: center;
}
.contact-location, .contact-form{
    margin: 0 30px;
    margin-bottom: 20px;
}
.contact-form-details{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    max-width: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);  
}
footer{
    display: flex;
    justify-content: space-around;
    background-color: #168412;
    min-height: 10vh;
    align-items: center;
    color: #fffefe;
}
.footer-content, .footer-social{
    font-size: 1.1rem;;
}
.footer-social i{
    margin-right: 10px;
    padding: 5px;
}
.footer-social i:hover{
    cursor: pointer;
    background-color: #fffefe;
    color: #168412;
    border-radius: 5px;
}
@media screen and (min-width: 500px){
    body{
        font-size: 1rem;
    }
    .header-title{
        font-size: 1.6rem;
    }
    .menu-btn{
        right: 0;
        font-size: 1.7rem;
    }
    .nav-menu li{
        font-size: .9rem;
    }
    .latest-posts{
        margin: auto;
    }
    .latest-post{
        max-width: 40%;
    }
    .latest-post p{
        display: block;
    }
    .fa-angle-left, .fa-angle-right{
        top: 4px;
    }
    .modal-content img{
        width: 100%;
    }
    #embedmap {
        width: 300px !important;
        height: 300px !important;
    }
    .blog-comment{
        max-width: 350px;
    }
    .comment-form h3, .blog-comments h3{
        text-align: center;
        margin-bottom: 10px;
    }

}

@media screen and (min-width: 700px){
    .icon img{
        height: 50px;
        width: 50px;
    }
    .nav-menu ul{
        display: inline-flex;
        position: relative;
    }
    .menu-btn{
        display: none;
    }
    .main{
        padding: 20px 0;
    }
    .sidebar{
        display: block;
        max-width: 150px;
    }
    .latest-posts{
        max-width: 1080px;
        flex-wrap: wrap;
        margin: auto;  
    }
    .circle-icon{
        background-color: #60B1F8;
        height: 50px;
        min-width: 50px;
        border-radius: 50%;
    }
    .fa-angle-left, .fa-angle-right{
       font-size: 2.5em;
    }
    .fa-angle-right{
        left: 20px;
    }
    .fa-angle-left{
        left: 15px;
    }
    .left{
        left: 20px;
    }
    .right{
        right: 20px;
    }
    .more-posts a{
        position: relative;
        left: 15%;
    }
    .blog h1{
        margin-bottom: 10px;
    }
    .blog-post{
        max-width: 70%;
    }
    .blog .sidebar{
        max-width: 20%;
    }
    .options{
        position: relative;
        left: 10%;
        padding: 0 10px 10px 0;
    }
    .options select{
        min-width: 100px;
    }
    .modal-content{
        width: 100%;
        max-width: 900px;
    }
    .about-content{
        width: 75%;
        margin: 0 auto;
        font-size: 1.1rem;
    }
    .about-list{
        display: inline-flex;
        margin: 60px 0;
    }
    .about-item{
        width: 30%;
        padding: 0 10px;
    }
    #embedmap {
        width: 300px !important;
        height: 300px !important;
    }
    .contact .main-content{
        flex-direction: row;
    }
    .contact-form{
        margin-top: 0;    
    }
    .contact-form-details{
        display: flex;
        flex-direction: column;
        max-width: 250px;
    }
}
@media screen and (min-width: 1025px){
    .sidebar{
        max-width: 15%;
    }
    .latest-post{
        max-width: 23%;
    }
    .right{
        right: 30px;
    }
    .left{
        left:30px;
    }
    .about-item{
        width: 25%;
        margin: 40px 10px;
    }
}
@media screen and (min-width: 1440px){
    /* .circle-icon{
        background-color: #fffefe;
    }
    .fa-angle-left, .fa-angle-right{
        color: #60B1F8;
    } */
}